Repository Disfactory/Disfactory, pull requests merged in 2019-11, with the labels that each got.

#46 allow Image field factory_id to be null
  backend/api/migrations/0004_auto_20191108_0933.py
  backend/api/models.py
Labels: Backend

#45 Factory validator
  backend/api/migrations/0004_allow_image_factory_null_20191108_0933.py
  backend/api/migrations/0005_factory_status_default_A_20191108_0946.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tests/test_serializers.py
  backend/api/views/tests/test_factory_cr.py
Labels: Backend

#40 Increase performance for image processor
  frontend/src/lib/image.ts
Labels: Frontend

#50 create factory
  .circleci/config.yml
  backend/Pipfile
  backend/Pipfile.lock
  backend/api/views/factories_cr.py
  backend/api/views/tests/test_factory_cr.py
  backend/api/views/utils.py
  backend/easymap.py
Labels: Backend, high priority

#54 Get original date from photo
  .circleci/config.yml
  backend/Pipfile
  backend/Pipfile.lock
  backend/api/views/tests/20180311_132133.jpg
  backend/api/views/tests/test_utils.py
  backend/api/views/utils.py
Labels: Backend

#62 Only modify factory ID foreign key of related images
  backend/api/views/factories_cr.py
  backend/api/views/tests/test_factory_cr.py
Labels: Backend, bug, high priority

#61 allow contact to be null when create factory
  backend/api/views/factories_cr.py
  backend/api/views/tests/test_factory_cr.py
Labels: Backend, bug

#56 Image related views
  .circleci/config.yml
  backend/api/urls.py
  backend/api/views/__init__.py
  backend/api/views/factory_image_c.py
  backend/api/views/image_c.py
  backend/api/views/post_factory_image.py
  backend/api/views/post_image.py
  backend/api/views/tests/20180311_132133_noexif.jpg
  backend/api/views/tests/test_factory_image_c.py
  backend/api/views/tests/test_image_c.py
  backend/api/views/tests/test_utils.py
  backend/api/views/utils.py
Labels: Backend, high priority

#67 set allowed_host
  backend/.env.sample
  backend/gis_project/settings.py
Labels: Backend

#52 update_factory_attribute
  backend/api/migrations/0006_auto_20191122_0956.py
  backend/api/models.py
  backend/api/urls.py
  backend/api/views/__init__.py
  backend/api/views/factories_u.py
  backend/api/views/tests/test_factories_u.py
  backend/api/views/update_factory_attribute.py
  backend/docker-compose.yml
Labels: Backend, high priority
